/* RESET BOX SIZING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
    font-family: 'Noto Sans', sans-serif;
}

.bg-lightblue {
    background-color: #b4d0e7;
}

.bg-black {
    background-color: black;
}

header footer .viewport {
    width: 100vw;
}

.big-width {
    max-width: 1000px;
    margin: 0 auto;
}

.small-width {
    max-width: 800px;
    margin: 0 auto;
}

.button {
    background-color: #0061ff;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}


/* REGOLE HEADER */

/* REGOLE HEADER-TOP */
header a {
    text-decoration: none;
    padding: 5px;
    color: black;
}

.header-top {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-section-special {
    width: 70%;
}

.nav-section > ul > li {
    display: inline;
    list-style: none;
}

.nav-section-special > ul > li {
    display: inline;
    list-style: none;
}


/* REGOLE HEADER-BOTTOM */
.header-bottom > .big-width {
    margin-top: 50px;
}

.header-bottom > .big-width > h1 {
    padding-top: 50px;
}

.header-bottom-container {
    display: flex;
    flex-direction: row;
}

.header-bottom-section-left {
    width: 40%;
}

.header-bottom-section-right {
    width: 60%;
}

/* REGOLE MAIN */
main {
    margin-top: 80px;
}

.small-width > * {
 margin: 30px 0px;
}


/* Sezione 1 */
.column-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column-container > .column {
    border: 1px solid lightgray;
}

.category {
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.section1-bottom-container {
    display: flex;
    flex-direction: row;
}


/* Sezione 2 */
.section2-container {
    display: flex;
    flex-direction: row;
}

.section2-container > .column-left {
    width: 70%;
}

.section2-container > .column-right {
    width: 30%;
}

/* Sezione 3 */
.section3-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section3-column {
    width: 30%;
    margin-bottom: 20px;
}

/* Sezione 4 */
.section4-container {
    margin-bottom: 30px;
}


/* Sezione 5 */
.section5-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cube, .cube-special {
    width: calc(100vw / 3);
    height: 430px;
}
/* Non va bene height in px - prova altra soluzione */

.cube {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cube-special {
    overflow-y: scroll;
}


.small-cube {
    width: calc(100% / 2);
    height: 215px;
}

/* Sezione 6 */
.section6-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section6-container > h2 {
    width: 60%;
    height: 200px;
}

.section6-container > a {
    width: 40%;
    height: 200px;
}

/* Sezione 7 */
.small-width > .question {
    border-top: 1px solid lightgray;
    padding: 16px 0px;
}
/* Togliere regola small-width > * e mettere solo figli diretti */


/* REGOLE FOOTER */
footer {
    color: white;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-top, .footer-bottom {
    padding: 50px 0px;
}
/* manca barra grigia tra footer-top e footer-bottom */

















/* REGOLE DEBUG */

.debug section > .small-width {
    background-color: lightcoral;
}

.debug .viewport {
    background-color: blue;
}

.debug .footer-top .footer-bottom {
    height: 100px;
}


/* DEBUG HEADER */
.debug .header-top {
    /* height: 50px; */
    background-color: orange;
}

.debug .header-bottom {
    height: 500px;
}

.debug .header-bottom > .big-width > h1 {
    height: 100px;
    background-color: green;
    border: 1px dashed black;

}

.debug .header-bottom-section-left {
    background-color: pink;
    border: 1px dashed black;
    height: 300px;
}

.debug .header-bottom-section-right {
    background-color: red;
    border: 1px dashed black;
    height: 300px;
}


/* DEBUG MAIN */
.debug h2 {
    background-color: yellow;
    border: 1px dashed black;
    width: 200px;
    height: 30px;
}

.debug span {
    background-color: lightgreen;
    border: 1px dashed black;
    width: 100px;
    height: 60px;
    padding: 5px 15px;
}

.debug .column {
    width: 30%;
    height: 400px;
    background-color: greenyellow;
    border: 1px dashed black;
}

.debug .section1-bottom {
    width: 100%;
    height: 200px;
    background-color: greenyellow;
    border: 1px dashed black;
}

.debug .section1-bottom-left {
    height: 100px;
    width: 70%;
    background-color: greenyellow;
    border: 1px dashed black;
}

.debug .section1-bottom-right {
    height: 100px;
    width: 30%;
    background-color: greenyellow;
    border: 1px dashed black;
}

.debug .category {
    background-color: greenyellow;
}

.debug .section2-container > .column-left {
    background-color: greenyellow;
    border: 1px dashed black;
    height: 200px;
}

.debug .section2-container > .column-right {
    background-color: greenyellow;
    border: 1px dashed black;
    height: 200px;
}

.debug .section3-column {
    background-color: greenyellow;
    border: 1px dashed black;
    height: 200px;
}

.debug .small-width > h2 {
    background-color: greenyellow;
    border: 1px dashed black;
}

.debug .cube, .cube-special {
    background-color: greenyellow;
    border: 1px dashed black;
}

.debug .small-cube {
    background-color: green;
    border: 1px dashed black;
}

/* DEBUG FOOTER */

.debug .footer-container {
    background-color: lightblue;
    border: 1px dashed red;
}