/* RESET BOX SIZING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
.bg-lightblue {
    background-color: #b4d0e7;
}

.bg-black {
    background-color: black;
}

header footer .section-container-special {
    width: 100vw;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-container {
    max-width: 1000px;
    margin: 0 auto;
}

.button {
    background-color: #0061ff;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}


/* REGOLE HEADER */
header a {
    text-decoration: none;
    padding: 5px;
    color: black;
}

.header-top {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-section-special {
    width: 70%;
}

.nav-section > ul > li {
    display: inline;
    list-style: none;
}

.nav-section-special > ul > li {
    display: inline;
    list-style: none;
}




/* REGOLE MAIN */
.header-bottom {
    margin: 50px;
}
/* togliere poi margin in px quando definita altezza dell'header-top */






















/* REGOLE DEBUG */
.debug .header-top {
    height: 50px;
    background-color: orange;
}

.debug .header-bottom {
    height: 200px;
}

.debug .container {
    height: 200px;
    background-color: yellow;
    border: 1px dashed red;
}

.debug .section-container {
    height: 200px;
    background-color: lightcoral;
}

.debug .section-container-special {
    height: 200px;
    background-color: blue;
}

.debug .footer-top .footer-bottom {
    height: 100px;
}