/* RESET BOX SIZING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
    font-family: 'Noto Sans', sans-serif;
}

.bg-lightblue {
    background-color: #b4d0e7;
}

.bg-black {
    background-color: black;
}


.big-width {
    max-width: 80vw;
    margin: 0 auto;
}

.small-width {
    max-width: 60vw;
    margin: 0 auto;
}

.button {
    background-color: #0061ff;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.column-40 {
    width: 40%;
}

.column-60 {
    width: 60%;
}

.column-30 {
    width: 30%;
}

.column-100 {
    width: 100%;
}

hr {
    background-color: lightgray;
    display: inline-block;
    width: 50px;
}


/* REGOLE HEADER */
header a {
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: 0.8em;
}

/* REGOLE HEADER-TOP */
.header-top {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 30;
    background-color: white;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.nav-section > div {
    display: inline-block;
    vertical-align: middle;
}

.nav-section > img {
    vertical-align: middle;
}

.nav-section ul li {
    display: inline;
    list-style: none;
}

.header-top .nav-section div a:hover {
    border-bottom: 3px solid lightgrey;
}

/* REGOLE HEADER-BOTTOM */
.header-bottom > .big-width {
    margin-top: 50px;
}

.header-bottom-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.header-bottom > .big-width > h1 {
    padding-top: 50px;
    font-size: 3em;
}

.header-bottom > .big-width p {
    padding: 0px 20px 40px 0px;
}

.header-bottom-link {
    margin-bottom: 20px;
}

.column-60 > img {
    width: 100%;
}



/* REGOLE MAIN */
main {
    margin-top: 80px;
}

.small-width > * {
 margin: 30px 0px;
}
/* questa ultima regola da togliere o rivedere */


/* Sezione 1 */
/* Inizio intestazione sezione 1: h2 + span */
.span-container span {
    font-size: 0.7em;
}

.span-section {
    display: inline-block;
    margin-right: 20px;
}

.span-section .circle {
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 0.7em;
    height: 0.7em;
    display: inline-block;
}

.span-section .circle-blue {
    border: 3px solid blue;
    border-radius: 50%;
    width: 0.7em;
    height: 0.7em;
    display: inline-block;
}

/* Inizio 3 colonne */
.section1-column-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section1-column-container > .column {
    border: 1px solid lightgray;
    width: 30%;
}

.section1-column-container ul li {
    font-size: 0.7em;
    padding: 5px;
}

.fa-ul {
    list-style-type: none;
    margin-left: var(--fa-li-margin,2.1em);
    padding-left: 0;
}

.category {
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 5px;
    font-size: 0.7em;
}

/* Inizio informazioni della singola colonna */
.column-info > * {
    padding: 10px;
}

.column-info hr {
    padding: 0;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.column-info h4, a, span {
    font-size: 0.7em;
}

.column-info h4 {
    font-weight: 900;
}


main a {
    text-decoration: none;
    padding: 5px;
    color: black;
    display: block;
}


.column-link > a > span:last-child {
    text-decoration: underline;
    color: blue;
}

.column-info i:last-child {
    color: blue;
}




/* Inizio ultima colonna singola in fondo */
.section1-bottom-container {
    display: flex;
    flex-direction: row;
}


/* Sezione 2 */
.section2-container {
    display: flex;
    flex-direction: row;
}

.section2-container > .column-left {
    width: 70%;
}

.section2-container > .column-right {
    width: 30%;
}

/* Sezione 3 */
.section3-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section3-column {
    width: 30%;
    margin-bottom: 20px;
}

/* Sezione 4 */
.section4-container {
    margin-bottom: 30px;
}


/* Sezione 5 */
.section5-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cube, .cube-special {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}
/* Non va bene height in px - prova altra soluzione */

.cube {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cube-special {
    overflow-y: scroll;
}


.small-cube {
    width: calc(100% / 2);
    height: calc(100% / 2)
}

/* Sezione 6 */
.section6-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section6-container > h2 {
    width: 60%;
    height: 200px;
}

.section6-container > a {
    width: 40%;
    height: 200px;
}

/* Sezione 7 */
.small-width > .question {
    border-top: 1px solid lightgray;
    padding: 16px 0px;
}
/* Togliere regola small-width > * e mettere solo figli diretti */


/* REGOLE FOOTER */
footer {
    color: white;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-top, .footer-bottom {
    padding: 50px 0px;
}
/* manca barra grigia tra footer-top e footer-bottom */

















/* REGOLE DEBUG */

/* .debug section > .small-width {
    background-color: lightcoral;
} */

.debug .footer-top .footer-bottom {
    height: 100px;
}




/* .debug .header-bottom > .big-width > h1 {
    height: 100px;
    background-color: green;
    border: 1px dashed black;

} */

/* .debug .header-bottom-section-left {
    background-color: pink;
    border: 1px dashed black;
    height: 300px;
}

.debug .header-bottom-section-right {
    background-color: red;
    border: 1px dashed black;
    height: 300px;
} */


/* DEBUG MAIN */
/* .debug h2 {
    background-color: yellow;
    border: 1px dashed black;
    width: 200px;
    height: 30px;
} */

/* .debug .span-container > span {
    background-color: lightgreen;
    border: 1px dashed black;
    width: 100px;
    height: 60px;
    padding: 5px 15px;
} */

/* .debug .column {
    width: 30%;
    height: 700px;
    background-color: greenyellow;
    border: 1px dashed black;
} */

.debug .section1-bottom {
    width: 100%;
    height: 200px;
    background-color: greenyellow;
    border: 1px dashed black;
}

.debug .section1-bottom-left {
    height: 100px;
    width: 70%;
    background-color: greenyellow;
    border: 1px dashed black;
}

.debug .section1-bottom-right {
    height: 100px;
    width: 30%;
    background-color: greenyellow;
    border: 1px dashed black;
}

/* .debug .category {
    background-color: greenyellow;
} */

.debug .section2-container > .column-left {
    background-color: greenyellow;
    border: 1px dashed black;
    height: 200px;
}

.debug .section2-container > .column-right {
    background-color: greenyellow;
    border: 1px dashed black;
    height: 200px;
}

.debug .section3-column {
    background-color: greenyellow;
    border: 1px dashed black;
    height: 200px;
}
/* 
.debug .small-width > h2 {
    background-color: greenyellow;
    border: 1px dashed black;
} */

.debug .cube, .cube-special {
    background-color: greenyellow;
    border: 1px dashed black;
}

.debug .small-cube {
    background-color: green;
    border: 1px dashed black;
}

/* DEBUG FOOTER */

.debug .footer-container {
    background-color: lightblue;
    border: 1px dashed red;
}